{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Bonjour {{ user.firstName }},</h1>
    {% if upcomingAppointment == null %}
        <p>Vous n'avez pas de rendez-vous prévu</p>
        <a href="#">Prendre rendez-vous</a>
    {% else %}
        <p>Vous avez rendez-vous le : {{ upcomingAppointment.start|date('d/m/Y à H:i') }}</p>
        <p>{{ upcomingAppointment.service.name }} avec {{ upcomingAppointment.employee.firstName }}</p>
    {% endif %}
    <a href="{{ path('app_logout') }}">Déconnexion</a>
    <a href="#">Modifier mes informations personnelles</a>
    <a href="{{ path("app_logout") }}">Déconnexion</a>
{% endblock %}
